@charset "euc-kr";

body {
	background-color: linen;
	color: blueviolet;
	margin-left: 30px;
	margin-right: 30px;
}

h2 {
	text-align: center;
	
}
h4 {
	color: red;
}

li {
	color: blue;
}