/* table 부분 */
table {
    width : 80%;

}

td {
    padding : 11px;
}


/* container 부분 */
.container{
    display :inline-flex;
    width : 100%;
    height : 130%;
    flex-direction : column;
}


/* header 부분 */
.header{
    display : inline-flex;
    flex : 0 1 10px;
    width : 100%;
    justify-content: flex-end;
    background-color: #FAFAFA;
    border : 0.5px solid #F2F2F2;
}

.header_right{
    width : 80%;
    margin-left : auto;
    text-align: right;
}

.header_left{
    width : 20%;
    cursor : pointer;

}

.header_nav{
    width : 100%;
    height : 50px;
}

.header_nav ul{
    list-style-type : none;
}
.header_nav ul li {
    display : inline;
    margin : 35px 10px 35px 10px;
    padding : 10px 35px 10px 35px;
    cursor : pointer;
    color : #848484;
}


.user_interface {
    font-size : 13px;
    margin : 20px 0px 20px 0px;
    padding : 0px 20px 0px 20px;
    color : #848484;
}

.user_interface ul{
    list-style-type : none;
}

.user_interface ul li {
    display : inline;
    margin : 40px 0px 40px 0px;
    padding : 0px 20px 0px 20px;
    cursor : pointer;
    border-left : 1px solid #c0c0c0;
}
.user_interface ul li:first-child {
    border-left: none;
}



/* content 부분 */
.content {
    display: inline-flex;
    justify-content: center;
    flex : 1 1 350px;
    /*
    border : 1px solid red;
    margin-left : 10%;
    margin-right : 10%;
    */
}





/* sidebar 부분 */
.sidebar_container {
    display: inline-flex;
    justify-content: space-evenly;
    flex: 0 1 50px;
    /*margin-top: 10px;*/
    background-color: black;
    color : whitesmoke;
}

.sidebar_container_left{
    display: inline-flex;
    width : 50%;

}

.sidebar_container_left_content{
    display : inline-flex;
    width : 20%;
    justify-content: center;
    align-items: center;
}



.sidebar_container_left_text_box{
    display : inline-flex;
    width : 80%;
    justify-content: left;
    align-items: center;
}



.sidebar_container_right{
    display: inline-flex;
    width : 50%;
    justify-content: center;
    align-items: center;
    background-color: white;
    color : black;
}

.sidebar_container_right_content{
    display : inline-flex;
    width : 80%;
    justify-content: left;
    align-items: center;
    font-weight : bold;
}


/* footer 부분 */
.footer{
    font-size : 10pt;
    line-height : 1.7em;
    display : inline-flex;
    /*font-weight:bold;*/
    background-color: #2E2E2E;
    color : #848484;
    flex : 1 1 100px;
    justify-content: center;
    font-family: "Garamond";
}




/* Content 부분 */

.content_container {
    display: inline-flex;
    flex-direction : column;
    flex : 1 0 100px;
    width : 100%;
}

.content_header {
    display: inline-flex;
    flex : 0 1 100px;
    color : black;
    justify-content: left;
    align-items: center;
    margin-left : 30px;

}

.content_body {
    display: inline-flex;
    flex : 1 1 50px;
    width : 100%;

    /*
    스크롤로 넘치지 않게
    overflow : auto;*/
    justify-content: center;
    margin : 0 auto;
}
.content_footer {
    display: inline-flex;
    flex : 0 1 50px;
    justify-content: center;
}

.sharing {
    background-color : whitesmoke;
    position : fixed;
    left : 80%;
    top : 70%;
    text-align : center;
    width : 150px;
    height : 150px;
}

/* intro 부분 */
.img{
    position : relative;
    background-image : url(https://wikidocs.net/images/page/37661/%E1%84%8B%E1%85%AC%E1%84%87%E1%85%AE%E1%84%8C%E1%85%A5%E1%86%AB%E1%84%80%E1%85%A7%E1%86%BC2.jpeg);
    height : 100vh;
    background-size : cover;
}

.img-cover{
    position : absolute;
    height : 100%;
    width : 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index : 1;
}

.img .content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-10%, 120%);
    font-size:1.3rem;
    color: white;
    z-index: 2;
    text-align: right;
}

/* introduction 부분 */
.introduction_box{
    display: inline-flex;
    font-family: "Arial";
    color : #848484;
    font-size : 14px;
    justify-content: center;
    align-items: center;
    width : 100%;
    letter-spacing : 3px;
    line-height : 180%;
}
